PORT=3000

POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_DATABASE=clinica
POSTGRES_USER=postgres
POSTGRES_PASSWORD=tu_password

MONGO_URI=mongodb+srv://usuario:password@cluster.mongodb.net/clinica